<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>

  <nav id="nav-bar">
    <p>Recetario Fitnes</p>
    <div id="nav-links">
      <div id="container-progreso">
        <button id="btn-progreso">Progreso</button>
      </div>
      <div id="container-recetas">
        <button id="btn-recetas">Recetas</button>
      </div>
      <div id="container-perfil">
        <button id="btn-inicio">Incio</button>
      </div>
      <div id="container-salir">
        <button id="btn-cerrar">Cerrar Sesion</button>
      </div>
    </div>

    <div id="nav-telefono">
      <svg clip-rule="evenodd" id="menu-icon" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
      <div class="menu-telefono">
          <button id="btn-progreso">Progreso</button>
          <button id="btn-recetas">Recetas</button>
          <button id="btn-inicio">Inicio</button>
          <button id="btn-cerrar">Cerrar Sesion</button>

      </div>
    </div>
  </nav>

  <div id="contenedor">
    <section id="section-image">
      <div id="image-contenedor">
        <div id="image-avatar">
        <img id="img" src="https://lh3.googleusercontent.com/a/AAcHTtdc-V4b-K-pevbHK_PJM-g1oOi9pZ2GSBEmDIaUGdcXYQ=s96-c">
      </div>
        <p id="name"></p>
      </div>
    </section>

    <section id="section-form">
      <form id="form">
        <h1 id="form-titulo">Datos de tu cuenta</h1>
        <div class="form-input">
          <label class="label-input" for="Nombre">Nombre</label>
          <input type="text" class="input" id="input-nombre" autocomplete="off">
        </div>
        <div class="form-input">
          <label  class="label-input" for="Edad">Edad</label>
          <input type="text" class="input" id="input-edad" autocomplete="off">
        </div>
        <div class="form-input">
          <label  class="label-input" for="Edad">Peso</label>
          <input type="text" class="input" id="input-peso" autocomplete="off">
        </div>
        <div class="form-input">
          <label class="label-input" for="input-comidas">Comidas Completadas</label>
          <input type="text" class="input" id="input-comidas" disabled autocomplete="off">
        </div>
        <div id="form-btn">
        <button type="submit" id="btn" disabled>Guardar cambios</button>
      </div>
      </form>
    </section>
  </div>


  <script src="index.js"></script>
</body>
</html>