<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  <title>Home</title>
</head>

<body>
 <nav id="nav-bar">
  <p>Recetario Fitnes</p>
  <div id="nav-links">
    <a class="links" href="/signup">Registrate</a>
    <a class="links" href="/login">Inicia Sesion</a>
  </div>
  <div id="nav-telefono">
    <svg clip-rule="evenodd" id="menu-icon" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
    <div class="menu-telefono">
        <a href="/signup">Registro</a>
        <a href="/login">Iniciar Sesion</a>
    </div> 
</div>
  
 </nav>

 <section id="contenedor">
  <div id="contenedor-descripcion">
    <div id="descripcion-titulo">
    <h1 id="titulo2">Come Sano</h2>
    <h1 id="titulo3">Mantente Sano</h3>
    <p>Aquí encontrarás opciones deliciosas y equilibradas que te ayudarán a alcanzar tus objetivos. ¡Empieza hoy mismo a cuidarte sin sacrificar el placer de comer!</p>
    <div id="descripcion-btn">
      <button id="btn">Comenzar</button>
      <div class="loader-contenedor">
      <span class="loader"></span>
    </div>
    </div>
  </div>
  </div>

  <div id="contenedor-abajo">
    <div class="caja-descripcion" id="caja1">
      <h1>Lograr tus Metas</h1>
      <p>Descubre nuestra colección de recetas diseñadas para ayudarte a alcanzar tus objetivos, ya sea bajar de peso o ganar masa muscular.</p>
    </div>
    <div class="caja-descripcion" id="caja2">
      <h1>Meriendas saludables</h1>
      <p>Descubre nuestras opciones de meriendas saludables que te ayudarán a mantener la energía durante todo el día sin agregar calorías innecesarias.</p>
    </div>
    <div class="caja-descripcion" id="caja3">
      <h1>La clave para el éxito</h1>
      <p>Adapta nuestras recetas a tu rutina de entrenamiento y horarios. Encuentra la combinación perfecta para mantenerte en el camino hacia el éxito.</p>
    </div>
  </div>
 </section>
 


  
  <script src="index.js"></script>
</body>

</html>