<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>
<body>

<nav id="nav-bar">
  <p>Recetario Fitnes</p>
</nav>

<section id="section">
<div id="contenedor-titulo">
  <div id="titulo">
    <h1>Bienvenido</h1>
    <h2>Antes de comenzar necesitamos algunos datos...</h2>
  </div>
</div>
<div id="contenedor-form">
  <form id="form">
  
  <div id="form-genero">
    <p>¿Cuál es tu sexo de nacimiento?</p>
      <div class="form-inputs">
        <div id="div-masculino" class="input-genero" >
        <label for="sexo-masculino" class="cursor-pointer">Masculino</label>
        <input type="radio" name="sexo" value="Masculino" id="sexo-masculino" class="absolute opacity-0">
        </div>
        
        <div id="div-femenino" class="input-genero">
        <label for="sexo-femenino" class="cursor-pointer">Femenino</label>
        <input type="radio" name="sexo" value="Femenino" id="sexo-femenino" class="absolute opacity-0">
        </div>
      </div>
  </div>

  <div class="form-input-name">
    <label for="input-name">¿Cual es tu nombre?</label>
    <input type="text" placeholder="Ej: Diego Hidalgo" class="input" id="input-name" autocomplete="off" required>
</div>

  <div class="form-inputs">
    <div class="contenedor-input">
    <label class="pt-0">¿Cuantos dias entrenas?</label>
  <select name="Actividad" class="input" id="input-actividad">
    <option value="" disabled="" selected="">Seleccionar actividad</option>
    <option value="Baja">Baja: Ejercicio de 1 a 2 dias a la semana</option>
    <option value="Media">Media: Ejercicio de 3 a 5 dias a la semana</option>
    <option value="Alta">Alta Ejercicio de 5 a 7 dias a la semana</option>
  </select>
  </div>

    
    <div class="contenedor-input"  class="w-full text-center">
        <label class="pt-0">¿Cuál es tu edad?</label>
      <input type="text"  id="input-edad" placeholder="Ej: 20 años" class="input" maxlength="2"  required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1">
    </div> 
  </div>

  <div class="form-inputs">
    <div class="contenedor-input">
      <label for="input-peso">¿Cuanto pesas?</label>
      <input type="text" class="input" placeholder="Ej: 49 kg"  id="input-peso" maxlength="3"  required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1">
    </div> 
     
     <div class="contenedor-input">
      <label for="input-altura">¿Cuanto mides?</label>
      <input type="text" class="input" placeholder="Ej: 170 cm" id="input-altura" maxlength="3"  required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1">
  </div>
  </div>
   

  <div class="form-inputs">
    <div class="contenedor-select">
        <p>Tu objetivo nutricional es...</p>
    <select name="meta" class="input" id="input-meta">
      <option value="" disabled="" selected="">Selecciona un objetivo</option>
      <option value="Bajar de peso">Bajar de peso</option>
    </select>
  </div> 
</div>

  <button id="btn-aceptar" disabled>Aceptar</button>
  </form>
</div>
</section>
  <script src="index.js"></script>
</body>
</html>

