<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Progreso</title>
</head>
<body>
  
  <nav id="nav-bar">
    <p>Recetario Fitnes</p>
    <div id="nav-links">
      <div id="container-progreso">
        <button id="btn-inicio">Inicio</button>
      </div>
      <div id="container-recetas">
        <button id="btn-recetas">Recetas</button>
      </div>
      <div id="container-perfil">
        <button id="btn-perfil">Perfil</button>
      </div>
      <div id="container-salir">
        <button id="btn-cerrar">Cerrar Sesion</button>
      </div>
    </div>

    <div id="nav-telefono">
      <svg clip-rule="evenodd" id="menu-icon" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
      <div class="menu-telefono">
          <button id="btn-inicio">Inicio</button>
          <button id="btn-recetas">Recetas</button>
          <button id="btn-perfil">Perfil</button>
          <button id="btn-cerrar">Cerrar Sesion</button>

      </div>
    </div>
  </nav>

<section id="section">
<div id="container">


  <div class="flex justify-center w-full" id="selector-mes">
  </div>
      <div id="div-canvas">
        <canvas id="my"></canvas>
      </div>
      <div id="div-btn">
        <button class="btn" id="btn-peso">Peso</button>
        <button class="btn" id="btn-valores-nutricionales">valores nutrionales</button>
      </div>
    </div>
</section>

<script src="index.js"></script>
</body>
</html>