
.menu-mobil{
    position: absolute;
    top: -40rem;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 5px 10px #000;
    width: 17rem;
    background-color: white;
    transition: 1s
  };
  