<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@300;400;500&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Registro</title>
</head>

<body class="h-screen">
    <nav
        class="fixed top-0 left-0 right-0 flex flex-row justify-between h-20 items-center bg-green-600 px-4">
        <img src="imagen/20230112_192454_0000-removebg-preview (1).png" class="h-48 w-60">
        <!-- <div class="flex gap-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 md:hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <a class="hidden md:block" href="/">Home</a>
            <a class="hidden md:block" href="/login">Login</a>
            <a class="hidden md:block" href="/signup/">Registro</a>
        </div> -->
    </nav>


    <div class="bg-white flex justify-center items-center h-full px-4 ">
        <form id="form"class="bg-white  w-full md:w-6/12 h-6/12 p-4 rounded-lg flex flex-col gap-4 pt-20">
            <div>
                <h1 class="font-bold text-2xl mb-2">Registrate</h1>
                <p class="">Con tu correo</p>
            </div>
            <div class="flex flex-col gap-2  text-black ">
                <Label class="font-medium" for="email-input">Correo electrónico</Label>
                <input placeholder="ejemplo@email.com" autocomplete="off" class="outline-none p-2 rounded-lg bg-white"
                    type="email" name="email-input" id="email-input">
            </div>
            <div class="flex flex-col gap-2  text-black">
                <Label class="font-medium" for="password-input">Contraseña</Label>
                <input placeholder="Debe incluir una letra y un número" class="outline-none p-2 rounded-lg bg-white border" type="password"
                    name="password-input" id="password-input">
            </div>
            <div class="flex flex-col gap-2 font-medium  text-black">
                <Label class="font-medium" for="match-input">Confirmar contraseña</Label>
                <input placeholder="Debe coincidir con la contraseña" class="outline-none p-2 rounded-lg bg-white border " style="font-weight:initial ;" type="password"
                    name="match-input" id="match-input">
            </div>
            <button id="form-btn"
                class="disabled:opacity-75 p-2 text-black uppercase font-medium" style="background-color: #27884d; color: white; border-radius: 22px;"
                type="submit" disabled>
                Registrar
            </button>
            <div>
            <p class="text-center">¿Ya tienes una cuenta? 
                <a style="color: green;" href="/login">Inicia sesion</a>
            </p>
        </div>
        </form>
    </div>
    <script src="./index.js"></script>
</body>

</html>